
html {
    min-height: 100%;
}

body {
    font-family: 'montserrat', arial, sans-serif;
    line-height: 1.5;
}

h1 {
    font-weight: lighter;
    color: #9db7c1;
}

hr {
    width:75%;
    height:5px;
    border: transparent;
    background-color: #fcbabc;
    margin: 25px auto 25px auto;
}
  
.image-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-thumbnails img {
    margin: 10px;
    max-height: 200px;
    max-width: 200px;
}

.image-thumbnails img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.59);
}

.center-grid {
    display:grid;
    grid-template-columns: center;
    
}

.column{
    float: left;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.column.left .center-grid {
    width: 10%;
}

.column.right {
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#fetch-container {
    display: flex;
    font-style: italic;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255,255,255, 75%);
}

#social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 50px;
}

.btn {
    align-self: center;    
    color: white;
    font-size: large;
    background-color: #333;
    height: 40px;
    border-width: 0;
    border-radius: 10px;
    transition: transform .2s;
    padding: 10px;
    margin: 10px;
}

.btn:hover {
    transform: scale(1.1);
    color: white;
    background-color: #8004;
}

#btn-enlarge {
    width: 50%;
    height: 50px;
    justify-self: center;


}

textarea {
    justify-self: center;
    font-family: 'montserrat', arial, sans-serif;
    color: #999;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border-color: #999;
    width: 75%;
    margin-bottom: 20px;
}

textarea:hover {
    color: #333;
    background-color: white;
}

#message {
    display: flex;
    justify-content: center;
    min-height: 200px;
} 

#contact-list {
    list-style-type: none;
    padding: 20px;
}

.list-container .btn:hover {
    background-color: #ee3f24;
}

.contact {
    display: flex;
    font-size: small;
    color: #999;
    background-color: white;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    width: 75%;
}
.contact span {
    flex-grow: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
